.tinycode .remark-code {
  font-size: 5px
}

.project-equation {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  font-size: 50px;
}

.project-equation img {
  height: 150px;
}

.project-equation-char{
  margin-left: 2%;
  margin-right: 2%;
}

.boom{
  display:flex;
  justify-content:center;
  align-items:center;
  height:70%;
  width:100%;
}

/* Xaringan overrides */

.remark-slide-content{
  font-size:25px;
}

