.tinycode .remark-code {font-size:40%}

.project-equation {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  font-size: 50px;
}

.project-equation img {
  height: 150px;
}

.project-equation-char{
  margin-left: 2%;
  margin-right: 2%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* Xaringan overrides */

.remark-slide-content{
  font-size:30px;
}

